/* code to not display extra white space of the right side of website
credit: https://stackoverflow.com/questions/4617872/white-space-showing-up-on-right-side-of-page-when-background-image-should-extend */

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


/* -------------------- Font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

/*--------------------- General Styling */

body {
    background-color:#fafafa;
    display: flex;
    flex-direction: column;
}

.game-container {
    flex: 1 0 auto;
}

/* ----------- Footer */

footer {
    background-color: #343d47;
    color: #fafafa;
    min-height: 10px;
    flex-shrink: 0;
    margin: 0;
    font-size: 15px;
}

footer p {
    padding-top: 10px;
}
/*------------------ Counters */

#count-row {
    margin: 10px 0;
}

.count-button {
    height: 40px;
    width: 150px;
    color: rgb(133, 134, 134);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    padding-top: 2px;
}

.border {
    border: 2px;
}

h2 {
    color: rgb(133, 134, 134);
    text-decoration: none;
    letter-spacing: 1px;
}

.h2, h2 {
    font-size: 1.8rem;
}


/*-------------------------------- Game */

.game {
    width: 720px;
    height: 550px;
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
    perspective: 1000px;
}

.card {
    position: relative;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin-left: 5px;
    margin-bottom: 2px;
    border-radius: 5%;
    border: 1px solid grey;
    transform-style: preserve-3d;
    transition: transform .5s;
    transform: scale(1); 
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}


.front,
.back {
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5%;
}

.front {
  transform: rotateY(180deg);
}

.back {
    background: url('../img/cards-bg.jpg')
}


/* --------------------------------- Buttons
credit https://codepen.io/atloomer/pen/JEaRWX */

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}

.button-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button-2 a {
  position: relative;
  transition: all .35s ease-Out;
}

.slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #BFC0C0;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

.button-2:hover .slide {
  left: 0;
}

.button-2:hover a {
  color: #2D3142;
}

#nav-buttons {
    display: inline-block;
}

#nav-buttons li {
    display: inline;
}

/* ------------------------------- Icons */

i.fab:hover {
    color: white;
}

/* ------------------------------- Modals */

.modal-backdrop {
  background-color: rgb(133, 134, 134, O.5) !important;
}

.modal-content {
    background: rgb(133, 134, 134);
    color: #fafafa;
    font-size: 'Montserrat', sans-serif;
}
/*------------------------------- Media Queries */

@media only screen and (max-width: 600px) {
    
    .card {
        width: 7rem;
        height: 6rem;
    }
}

@media only screen and (min-width: 520px) and (max-width: 600px) {
    
    .game {
        height: 470px;
    }
}

@media only screen and (min-width: 517px) and (max-width: 520px) {
    
    .game {
        width: 70%;
    } 
}

@media only screen and (max-width: 520px) {
    
    .card {
        width: 9rem;
        height: 7rem;
    }

    .game {
        height: 1000px;
    }
}

@media only screen and (max-width: 420px) {
    
    .button {
        width: 100px;
    }

    .h2, h2 {
    font-size: 1.3rem;
    }

    .count-button {
        width: 100px; 
    }
}

@media only screen and (max-width: 370px) {
    
    .card {
        width: 7rem;
        height: 6rem;
    }

    .game {
        height: 800px;
    }
}

@media only screen and (max-width: 280px) {
    
    .card {
        width: 6rem;
        height: 5rem;
    }
}




