/* code to not display extra white space of the right side of website
credit: https://stackoverflow.com/questions/4617872/white-space-showing-up-on-right-side-of-page-when-background-image-should-extend */

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


/* -------------------- Font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

/*--------------------- General Styling */

body {
    background-color:#fafafa;
}

/* --------------------- Navbar */

/* ----------- Footer */

footer {
    background-color: #343d47;
    color: #fafafa;
    min-height: 100px;
    margin: 0;
    font-size: 12px;
}

/*------------------ Timer */



/*----------------- Game */

.game {
    grid-gap: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, auto); 
}

.card {
    display: inline-block;
    background: url('../img/gbg.jpg');
    width: 8rem;
    height: 8rem;
    border-radius: 5%;
    border-color: 6px solid #343d47;
    /* box-shadow trick credit: https://css-tricks.com/almanac/properties/b/box-shadow/ */
    -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow:    2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    box-shadow:         2px 2px 2px 2px rgba(0, 0, 0, 0.4);
}


/* Button */

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}


.button-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button-2 a {
  position: relative;
  transition: all .35s ease-Out;
}

.slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #BFC0C0;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

.button-2:hover .slide {
  left: 0;
}

.button-2:hover a {
  color: #2D3142;
}

#nav-buttons {
    display: inline-block;
}

#nav-buttons li {
    display: inline;
}

#mrg {
    margin-left: 525px;
}


